# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# logs
**/logs
#Output files
*.graphml
*.json
*.bmp
*/*/.DS_Store
/static/networks
/static/projects
*.code-workspace
.venv
PPIs/.venv/**
PPIs/STRING/**
.vscode/*
VRNetzerApp/target/classes/**
VRNetzerApp/target/maven-status/**
VRNetzerApp/target/dependencies.txt
cytoscapeApp/VRNetzerApp/bin/.project
