# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# logs
**/logs
#Output files
*.graphml
*.json
*.bmp
*/*/.DS_Store
/static/networks
/static/projects
*.code-workspace
.venv
PPIs/.venv/**
PPIs/STRING/**
