[submodule "StringEx"]
	path = StringEx
	url = https://github.com/menchelab/StringEx
[submodule "VRNetzer_Backend_THESIS"]
	path = VRNetzer_Backend_THESIS
	url = https://github.com/ObT1337/VRNetzer_Backend_THESIS.git
