<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" -->
    <!-- rel = "stylesheet"> -->
    <!-- <link href="jquery-ui.css" rel="stylesheet"> -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/UI_Module_Config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('StringEx.static', filename='js/stringUI_Elements.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('StringEx.static', filename='js/upload_UI.js') }}"></script>
    <script src="{{ url_for('static', filename='js/connect_socketIO.js') }}"></script>

</head>

<template id="mcTextBox-template">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">


    <div id="label" class="swagLabelSmall">TEXT</div>
    <input type="Text" id="text" autocomplete="off">
</template>


<body>

    <script>
        var sessiondata = JSON.parse({{ sessionData| tojson}});
        var nodes = JSON.parse({{ nodes | tojson}})["nodes"];
        var node_id = '{{id}}';
        var node_data = nodes[node_id];
        var node_sym =  node_data["n"];
        var node_annot = node_data["description"];
        var additional = node_data['{{add_key}}']
        if (node_data.uniprot){
            var uniprot_id = node_data.uniprot[0];
        };
        var pdata = JSON.parse({{ pfile| tojson}});
        var username = '{{session['username']}}';
        console.log(username);
    </script>

    <div id="tabsUL">
        <a href="nodepanel.html" id="" title="Nodepanel"></a>
        <ul>
            <li>
                <a href="#nodefragment-1"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" /></a>
            </li>
            <li>
                <a href="#nodefragment-2"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" /></a>
            </li>
        </ul>
        <div id="nodefragment-1">
            <div class="twelve columns">
                <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Node Info</h2>
            </div>

            <!-- <h3> Identifier</h3> -->
            <div class="frameBox">
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Identifier :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_data.n);
                            </script>
                        </h5>
                    </div>
                </div>

                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Organism :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_data.stringdb_species); 
                            </script>
                        </h5>
                    </div>
                </div>

                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Canonical<br>Name :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_data["stringdb_canonical name"]);
                            </script>
                        </h5>
                    </div>
                </div>
            </div>
            <!-- <h3> Identifier</h3> -->
            <div class="frameBox" style="display:inline-block; margin-top:6px; margin-bottom:6px;">
                <div class="twelve columns">
                    <input type="button" value="3D Model" id='proteinButton' class="swagTextButton">
                </div>
                <div class="twelve columns">
                    <div class="four columns">
                        <input type="button" id='protein_backwardstep' class="swagBackwardButton"></button>
                        <script>
                            initButton("protein_backwardstep")
                            //TODO: use last uniprot id for structure presentation
                        </script>
                    </div>
                    <div class="four columns">
                        <input type="button" id='protein_forwardstep' class="swagForwardButton"></button>
                        <script>
                            initButton("protein_forwardstep")
                            //TODO: use next uniprot id for structure presentation
                        </script>
                    </div>
                </div>
                <!-- <script> -->
                <div class="todo">TODO: ADD Script to show/hide model, when model is hidden,
                    make button less
                    visible. Forward and backward buttons should change the loaded model using the next or last
                    uniprot id in the list.
                </div>
                <!-- </script> -->
            </div>
            <div class="frameBox">
                <div class="twelve columns">
                    <h5 style="text-align:end"> Tag Search</h5>
                    <form>
                        <input type="text" id="tag-search" name="tag-search" placeholder="Search for tag.." class="swagBox">
                    </form>
                    <div class="twelve columns">
                        <input type="button" value="Search" id='tag-search-button' class="swagTextButton">
                        <!-- <script> -->
                        <div class="todo">TODO: Add Search Button to find certain tag value and add
                            them to the
                            list of selected tags</div>
                        <!-- </script> -->
                    </div>
                    <h4> List of searched Node Tags</h5>
                        <ul>
                            <li>
                                <p>Key:value</p>
                            </li>
                            <li>
                                <p>Key:value</p>
                            </li>
                            <li>
                                <p>Key:value</p>
                            </li>
                            <li>
                                <p>Key:value</p>
                            </li>
                        </ul>
    
                </div>
            </div>
        </div>


        <div id="nodefragment-2">


            <div class="twelve columns">
                <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Node Info</h2>
            </div>
    
            <!-- <h3> Identifier</h3> -->
            <div class="frameBox">
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Identifier :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_data.n);
                            </script>
                        </h5>
                    </div>
                </div>
    
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Organism :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_data.stringdb_species); 
                            </script>
                        </h5>
                    </div>
                </div>
    
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Canonical<br>Name :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_data["stringdb_canonical name"]);
                            </script>
                        </h5>
                    </div>
                </div>
            </div>
    
            <!-- <h3>Additional</h3> -->
            <div class="frameBox">
                <div class="twelve columns">
                    <div class="twelve columns">
                        <h5 style="text-align:end"> Description</h5>
                        <script>
                            var description = node_data.stringdb_description;
                            document.write(
                                "<p align='justify'>"
                                + description
                                + "<p>");
                        </script>
                    </div>
                </div>
            </div>
            <div class="frameBox">
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Sequence :: </h4>
                    </div>
                    <div class="six columns" style="overflow-y: hidden;">
                        <h5>
                            <script>
                                document.write(node_data.stringdb_sequence);
                            </script>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="frameBox">
                <div class="twelve columns">
                    <div class="twelve columns">
                        <h5 style="text-align:end"> Crosslinks</h5>
                    </div>
                    <div class="four columns">
                        <a class="crosslinks" target="_blank" id="uniprot-cross" title="uniprot">UniProt</a>
                        <script>
                            var link = "https://www.uniprot.org/uniprotkb/<toChange>/entry"
                            setHref("uniprot-cross", uniprot_id, link);
                        </script>
                    </div>
                    <div class="four columns">
                        <a class="crosslinks" target="_blank" id="alphafold-cross" title="alphafold">
                            AlphaFold
                        </a>
                        <script>
                            var link = "https://alphafold.ebi.ac.uk/entry/<toChange>"
                            setHref("alphafold-cross", uniprot_id, link);
                        </script>
                    </div>
                    <div class="four columns">
                        <a class="crosslinks" target="_blank" id="genecards-cross" title="genecards">
                            GeneCards
                        </a>
                        <script>
                            var link = "https://genecards.org/Search/Keyword?queryString=<toChange>"
                            setHref("genecards-cross", uniprot_id, link);
                        </script>
                    </div>
                    <div class="four columns">
                        <a class="crosslinks" target="_blank" id="tissue-cross" title="tissue">
                            TISSUES
                        </a>
                        <script>
                            var link = "https://tissues.jensenlab.org/Search?query=<toChange>"
                            setHref("tissue-cross", node_data.n, link);
                        </script>
                    </div>
                    <div class="four columns">
                        <a class="crosslinks" target="_blank" id="disease-cross" title="disease">
                            DISEASES
                        </a>
                        <script>
                            var link = "https://diseases.jensenlab.org/Search?query=<toChange>"
                            setHref("disease-cross", node_data.n, link);
                        </script>
                    </div>
                    <div class="four columns">
                        <a class="crosslinks" target="_blank" id="compartments-cross" title="compartments">
                            COMPARTMENTS
                        </a>
                        <script>
                            var link = "https://compartments.jensenlab.org/Search?query=<toChange>"
                            setHref("compartments-cross", node_data.n, link);
                        </script>
                    </div>
                    <div class="four columns">
                        <a class="crosslinks" target="_blank" id="pharos-cross" title="pharos">
                            Pharos
                        </a>
                        <script>
                            var link = "https://pharos.nih.gov/targets/<toChange>"
                            setHref("pharos-cross", uniprot_id, link);
                        </script>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</body>




</html>